# VerificationResult

## Properties
Name | Type       | Description | Notes
------------ |------------| ------------- | -------------
**is_valid** | **bool**   | verify whether the service number is valid | false or true

[[Back to Model list]](../../README.md#documentation-for-models) [[Back to API list]](../../README.md#documentation-for-api-endpoints) [[Back to README]](../../README.md)

